html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(212, 212, 212);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    height: 100%;
}

header {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(158, 158, 158); 
    margin-bottom: 20px;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "form user"
        "hello-user submissions"
}

form {
    grid-area: form;
    text-align: center;
    padding: 20px;
    margin: auto;
}

input {
    width: 80%;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.06);
}

.current-user {
    grid-area: user;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.hello-user {
    grid-area: hello-user;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.hello-user:before {
    content: url("../images/sun.svg");
}

#greetings {
    font-size: 0.8rem;
    margin: 20px 0px 0px 0px;
}

#username {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0px;
}

.submissions {
    grid-area: submissions;
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-self: center;
    gap: 10px;
    max-height: 25%;
}

button {
    background-color: rgb(84,186,217);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(130, 211, 235);
    transition: 0.8s;
}

aside {
    background-color: rgb(84,186,217);
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 40px 200px 1fr;
}

.logo {
    padding: 30px;
}

main {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    background-color: rgb(212, 212, 212);
    grid-column: 1;
    grid-row: 1 / 3;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 15px;
    padding: 15px;
}

.card {
    background-color: white;
}

.announcements {
    background-color: rgb(212, 212, 212);
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 25px 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    margin: 10px;
}

.announcement-card {
    background-color: white;
}

.trending {
    grid-column: 2 / 3;
    background-color: rgb(212, 212, 212);
    display: grid;
    grid-template-rows: 25px 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    margin: 10px;
}

.trending-card {
    background-color: white;
}


ul {
    list-style-type: none;
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(61, 104, 119);
}

a:hover {
    color: white;
    transition: 0.5s;
}