* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.container > div {
    border-style: solid;
}

.header {
    background-color: red;
    grid-column: 2 / 4;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 4;
}

.projects {
    background-color: yellow;
    grid-row: 2 / 4;
}

.announcements {
    background-color: purple;
}

.trending {
    background-color: pink;
}